@font-face
{
    font-family: "Raleway";
    src: url('static/Raleway-Regular.ttf');
    src: url('raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('raleway-variablefont_wght-webfont.woff') format('woff'),
         url('raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;  
}

*{
    font-family: "Raleway", sans-serif;
}

.header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

#logo
{
    padding: 1rem 1rem 0rem 1rem;
    margin-bottom: 2rem;
    justify-content: flex-start;
}

#navigation
{
    padding: 1rem 1rem 0rem 1rem;
    margin-left: auto;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.navitems
{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navitems:hover
{
    border-top: 2px solid #0060fc;
    color: #0060fc;
    padding-top: 30px;
}

#navsignin
{
    color: #0060fc;
    text-decoration: none;
    font-size: 1.1em;
    padding-top: 30px;
}

#Titre_recherche
{
    margin-top: 1em;
    margin-bottom: 0.1em;
    font-size: 1.3em;
}

#Titre_recherche_note{
    margin-top: 0.1em;
    font-size: 0.9em;
    font-weight: 200;
}

i.fas.fa-map-marker-alt{
    background-color: #F0F0F0;
    padding: 10px;
    border-radius: 6px 0px 0px 6px;
}

#barre_de_recherche input
{
   border: none; 
   border-top: 1px solid #f2f2f2;
   border-bottom: 1px solid #f2f2f2;
   padding: 10px;
   font-weight: bold;
   font-size: 14px;
}

i.fas.fa-search{
    display:none;
}

#barre_de_recherche button
{
    background: #0070fc;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    font-size: 14px;
}

#Titre_filtres
{
    margin-right: 18px;
    margin-bottom: 15px;
    font-size: 18px;
}

#recherche_et_filtres {
    padding: 0px 15px 0px 15px;
    line-height: 25px;
}

#filtres{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}

.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    max-height: 40px;
    border-radius: 2rem;
    margin-right: 20px;
    margin-bottom: 16px;
}

.filtre:hover{
    background-color: lightblue;
    color: white
}

.Conteneur_icone
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    background-color: rgb(194, 227, 238);
    border-radius: 50px 50px 50px 50px;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
}

.Texte_filtre
{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 0.9em;
}

.Info {
display: flex;
align-items: center;
height: 30px;
margin-top: 15px;
margin-bottom: 25px;
}

.infoIconeconteneur{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
border: 1px solid #d8d8d8;
padding: 10px;
height: 10px;
width: 10px;
border-radius: 50%;
color:#0065fc;
}

.infotexte {
    margin-left: 10px;
}

.HebergementMainTitre
{
    margin: 0;
}

.HebergementMainImg{
    height: 7rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}

#Hebergement{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 650px;
    margin-left: 10px;
}

.HebergementMain
{
    background-color: #f2f2f2;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 20px;
    max-width: 75rem;
    margin-bottom: 25px;
}

.HebergementMainWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.HebergementMainOffre{
    width: 20rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 1px 1px 2px 0px #c7c3c3
}

.HebergementMainOffre a{
    color: black;
    text-decoration: none;
}

.HebergementMainOffreTitre{
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 0;
}

.HebergementMainOffreTexte{
    margin: 2px;
    font-weight: 300;
}

.HebergementMainOffreRating{
    margin: 4px;
}

.Starchecked{
    color:#0070fc
}

.Starempty{
color: grey;
}

#Afficherplus{
    margin-top:5rem;
    font-size:larger;
    font-weight:600;
}

.Populaires{
    background-color: #f2f2f2;
    border-radius: 2rem 2rem 2rem 2rem;
    width: 34rem;
    height: 40rem;
    margin-bottom: 24px;
    margin-right: 7px;
}

.PopulairesWrapper{
    display: flex;
    flex-direction: column;
}

.PopulairesTitre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
}

i.fas.fa-chart-line{
    font-size: 1.7rem;
}

.PopulairesOffre{
    background-color: white;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 5px;
    box-shadow: 1px 1px 2px 0px #c7c3c3
}

.PopulairesOffre a{
    color: black;
    text-decoration: none;
}

.PopulairesOffreCadre{
    display: flex;
}

.PopulairesOffreContenu{
    padding-left: 10px;
}

.PopulairesImg
{
    object-fit: cover;
    width: 33%;
    height: 9rem;
    border-radius: 1rem 0rem 0rem 1rem;
}

.PopulairesImg{
    height: 8rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.ActivitésTitre
{
    margin-bottom: 5px;
    margin-left: 10px;
}

.ActivitésWrapper{
display: flex;
}

.ActivitésWrapper a
{
    text-decoration: none;
}

.ActivitésCadre
{
    padding-bottom: 50px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px 0px #c7c3c3
}

.ActivitésOffreTitre{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    margin: 10px 20px 0px 5px;
}

.ActivitésImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}

.ActivitésVieuxport{
    width: 27rem;
    height: 30rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésColonne1{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ActivitésPomegues{
    flex-direction: column;
    width: 29rem;
    height: 18rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésFrioul{
    flex-direction: column;
    width: 29rem;
    height: 7rem;
    background-color: white;
    padding: 5px;
    margin-top: 3rem;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésCalanques{
    width: 27rem;
    height: 30rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésColonne2{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ActivitésNotreDame{
    width: 29rem;
    height: 12.5rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésLongchamp{
    width: 29rem;
    height: 12.5rem;
    background-color: white;
    padding: 5px;
    margin-top: 3rem;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésCadre{
    color: black;
    text-decoration: none;
}

.FooterWrapper
{
    background-color: #f2f2f2;
    margin-top: 120px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-around;
}

.FooterContenu a{
    text-decoration: none;
    color: grey;
}

.FooterContenuTitre{
    padding-top: 30px;
}

.FooterListe{
    list-style: none;
    padding-left: 0;
}

.FooterListeTexte{
    padding: 5px;
}

@media screen and (max-width: 1680px) {

    .HebergementMain{
        max-width: 1000px;
    }

    .HebergementMainOffre{
        width: 17rem;
    }
}

@media screen and (max-width: 1024px) {
    #recherche_et_filtres{
        margin-bottom: 40rem;
    }

    #Hebergement{
        display: flex;
        flex-direction: column-reverse;
    }

    .Populaires{
        display:flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 2rem;
    }

    .ActivitésWrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .ActivitésColonne1{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ActivitésColonne2{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ActivitésVieuxport{
        height: 150px;
        width: 300px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 40px;
    }

    .ActivitésPomegues{
        height: 150px;
        width: 300px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 40px;
    }

    .ActivitésFrioul{
        height: 150px;
        width: 300px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 40px;
    }

    .ActivitésCalanques{
        height: 150px;
        width: 300px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 40px;   
    }

    .ActivitésNotreDame{
        height: 150px;
        width: 300px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 40px;
    }

    .ActivitésLongchamp{
        height: 150px;
        width: 300px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 40px;
    }

    .ActivitésOffreTitre{
        text-align: center;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 600px) {

    body{
        margin:0;
    }

    .header{
        display:block;
    }

    #navigation{
        display:flex;
        justify-content: center;
        margin-left: 0;
        width:auto;
        border-bottom: 2px solid lightgrey;
        font-size: 1.1em;
    }

    #navsignin{
        position: absolute;
        top: 7px;
        right: 30px;
        font-weight: 700;
    }

    #logo{
        padding: 1.4rem 2rem 0rem 2.2rem;
        margin: 0;
        grid-area: Logo;
    }

    .navitems{
        padding-right: 60px;
        padding-left: 60px;
        padding-bottom: 10px;
    }

    .navitems:hover{
        border-top:none;
        border-bottom: 3px solid #0060fc;
        color: #0060fc;
    }

    #recherche_et_filtres{
        margin-bottom: 10px;
        padding: 0px 25px 0px 25px;
        font-size: 1.25em;
    }

    #Titre_recherche_note{
        font-weight:300;
    }

    i.fas.fa-map-marker-alt{
        padding: 16px;
    }

    #barre_de_recherche{
        margin-left: 17px;
        text-align: center;
        width: 340px;
        height: 65px;
    }

    #barre_de_recherche input{
        padding-left: 5px;
        padding-top: 16px;
        padding-right: 5px;
        padding-bottom: 16px;
        font-size: 15px;
    }

    #barre_de_recherche button{
        display:none;
    }

    i.fas.fa-search{
        display: inline-block;
        background-color:#0065fc;
        color:white;
        border-radius: 11px;
        padding: 16px;
    }

    #filtres{
        margin-top: 5px;
    }

    #Titre_filtres{
        margin-right: 10rem;
    }

    .filtre{
        padding-bottom: 5px;
        padding-top: 5px;
        padding-right: 7px;
    }

    .Info{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .infotexte{
        font-size: 0.85em;
    }

    .Conteneur_icone{
        height: 50px;
        width: 50px;
    }

    #Hebergement{
        max-height: 2200px;
        margin: 0;
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .HebergementMain{
        background-color: white;
        max-height: 1400px;
        width: 414px;
    }

    .Populaires{
        width: 100%;
        border-radius: 0rem 0rem 0rem 0rem;
        margin: 0;
        padding: 0;
    }

    .PopulairesOffre{
        border-radius: 1rem 1.5rem 1.5rem 1rem;
        margin-top: 4px;
    }

    .PopulairesImg{
        border-radius: 1rem 1.5rem 1.5rem 1rem;
        width:33%;
        height: auto;
    }

    .HebergementMainOffre{
        width:20rem;
    }

    .HebergementMainImg{
        width: 20rem;
        height: 7rem;
    }

    .HebergementMainTitre{
        margin-left: 25px;
    }

    #Afficherplus{
        margin-top: 25px;
        margin-left: 25px;
        font-size: 0.97em;
        font-weight: 700;
    }

    .ActivitésTitre{
        margin-top: 25px;
        margin-left: 25px;
    }

    .ActivitésWrapper{
        flex-direction: column;
    }

    .ActivitésColonne1{
        flex-direction: column;
    }

    .ActivitésColonne2{
        flex-direction: column;
    }

    .ActivitésCadre{
        width: 100%;
    }

    .ActivitésVieuxport{
        margin-bottom: 1rem;
        margin-right: 0;
        margin-left: 0;
    }

    .ActivitésPomegues{
        margin-bottom: 1rem;
    }

    .ActivitésFrioul{
        margin-bottom: 1rem;
    }

    .ActivitésCalanques{
        margin-bottom: 1rem;
    }

    .ActivitésNotreDame{
        margin-bottom: 1rem;
    }

    .FooterWrapper{
        margin-top: 4rem;
        display:flex;
        flex-direction: column;
    }

}