/* Réglages de la police de caractère */

@font-face
{
    font-family: "Raleway";
    src: url('static/Raleway-Regular.ttf');
}

@font-face
{
    font-family: "Raleway-Bold";
    src: url('static/Raleway-Bold.ttf');
}

h1,
h2,
h3 {
    font-family: "Raleway-Bold"
}

a,
p {
    font-family: "Raleway", sans-serif;
}

body{
    margin-top:0;
}

/* Paramètres du header */

.header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    padding: 0;
    height: 40px;
}

#logo
{
    padding: 2rem 1rem 0rem 1rem;
    justify-content: flex-start;
    cursor: pointer;
}

#navigation
{
    padding: 1rem 1rem 0rem 1rem;
    margin-left: auto;
    width: 25%;
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;
}

.navitems
{
    color: black;
    border-top: 2px solid transparent;
    text-decoration: none;
    font-size: 1.2em;
    padding-top: 30px;
}

.navitems:hover
{
    border-top: 2px solid #0065fc;
    color: #0065fc;
}

#navsignin
{
    color: #0065fc;
    text-decoration: none;
    border-top: 2px solid transparent;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 30px;
}

#navsignin:hover{
    border-top: 2px solid #0065fc;
}

/* Barre de recherche et son texte d'accroche */

#barre_de_recherche{
    display:flex;
}

#Titre_recherche
{
    margin-top: 0.9em;
    margin-bottom: 0.2em;
    font-weight: bolder;
}

#Titre_recherche_note{
    margin-top: 0.2em;
    font-weight: 500;
}

i.fas.fa-map-marker-alt{
    background-color: #F0F0F0;
    padding: 15px;
    border-radius: 7px 0px 0px 7px;
}

#barre_de_recherche input
{
   border: none; 
   border-top: 1px solid #f2f2f2;
   border-bottom: 1px solid #f2f2f2;
   padding: 15px;
   font-weight: bold;
   font-size: 14px;
}

i.fas.fa-search{
    display:none;
}

#barre_de_recherche button
{
    background: #0070fc;
    color: white;
    border: none;
    border-radius: 0px 10px 10px 0px;
    padding: 15px;
    font-size: 14px;
    cursor: pointer;
}

/* Paramètres des filtres */

#Titre_filtres
{
    margin-right: 18px;
    margin-bottom: 15px;
    font-size: 18px;
}

#recherche_et_filtres {
    padding: 0px 15px 0px 15px;
    line-height: 25px;
}

#filtres{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}

.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    max-height: 40px;
    border-radius: 2rem;
    margin-right: 20px;
    margin-bottom: 16px;
    transition: 0.4s;
}

.filtre:hover{
    background-color: lightblue;
    cursor: pointer;
    color: white
}

.Conteneur_icone
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    background-color: rgb(194, 227, 238);
    border-radius: 50px 50px 50px 50px;
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
}

.Texte_filtre
{
    margin-left: 15px;
    margin-right: 15px;
    font-weight: 600;
    font-size: 0.9em;
}

/* Texte info "500 logements disponibles" */

.Info {
display: flex;
align-items: center;
height: 30px;
margin-top: 15px;
margin-bottom: 25px;
}

.infoIconeconteneur{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
border: 1px solid #d8d8d8;
padding: 8px;
height: 8px;
width: 8px;
border-radius: 50%;
color:#0065fc;
}

.infotexte {
    margin-left: 10px;
}

/* Partie "Hébergements à Marseille" */

.HebergementMainTitre
{
    margin: 0;
}

.HebergementMainImg{
    height: 7rem;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}

#Hebergement{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.HebergementMain
{
    background-color: #f2f2f2;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 20px;
    max-width: 75rem;
    margin-bottom: 25px;
}

.HebergementMainWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.HebergementMainOffre{
    width: 17vw;
    height:auto;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 1px 1px 2px 0px #c7c3c3
}

.HebergementMainOffre:hover{
    box-shadow: 3px 3px 3px 3px;
}

.HebergementMainOffre a{
    color: black;
    text-decoration: none;
}

.HebergementMainOffreTitre{
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 0;
}

.HebergementMainOffreTexte{
    margin: 2px;
    font-weight: 300;
}

.HebergementMainOffreRating{
    margin: 4px;
}

.Starchecked{
    color:#0070fc
}

.Starempty{
color: grey;
}

#Afficherplus{
    margin-top:5rem;
    font-size:larger;
    font-weight:600;
}

#Afficherplus:hover{
    cursor:pointer;
}

/* Partie "Les plus populaires */

.Populaires{
    background-color: #f2f2f2;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 20px;
    margin-bottom: 24px;
}

.PopulairesWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PopulairesTitre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
}

i.fas.fa-chart-line{
    font-size: 1.7rem;
}

.PopulairesOffre{
    background-color: white;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 100%;
    padding: 5px;
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 1px 1px 2px 0px #c7c3c3
}

.PopulairesOffre:hover{
    box-shadow: 3px 3px 3px 3px;
}

.PopulairesOffre a{
    color: black;
    text-decoration: none;
}

.PopulairesOffreCadre{
    display: flex;
}

.PopulairesOffreContenu{
    padding-left: 10px;
}

.PopulairesImg
{
    object-fit: cover;
    width: 27%;
    height: 9rem;
    border-radius: 1rem 0rem 0rem 1rem;
}

/* Partie "Activités à Marseille"*/

.ActivitésTitre
{
    margin-bottom: 5px;
    margin-left: 10px;
}

.ActivitésWrapper{
display: flex;
}

.ActivitésWrapper a
{
    text-decoration: none;
}

.ActivitésCadre
{
    padding-bottom: 50px;
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 3px 0px #c7c3c3
}

.ActivitésCadre:hover{
    box-shadow: 3px 3px 3px 3px;
}

.ActivitésOffreTitre{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    margin: 10px 20px 0px 5px;
}

.ActivitésImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem 1rem 0rem 0rem;
}

.ActivitésVieuxport{
    width: 27rem;
    height: 30rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-right: 3rem;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésColonne1{
    display:flex;
    width:29rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.ActivitésPomegues{
    flex-direction: column;
    height: 18rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésFrioul{
    flex-direction: column;
    height: 7rem;
    background-color: white;
    padding: 5px;
    margin-top: 3rem;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésCalanques{
    width: 27rem;
    height: 30rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésColonne2{
    display:flex;
    flex-direction: column;
    width: 29rem;
    justify-content: space-evenly;
}

.ActivitésNotreDame{
    height: 12.5rem;
    background-color: white;
    padding: 5px;
    margin-top: 2rem;
    margin-bottom: 20px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésLongchamp{
    height: 12.5rem;
    background-color: white;
    padding: 5px;
    margin-top: 3rem;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 1rem 1rem 1rem 1rem;
}

.ActivitésCadre{
    color: black;
    text-decoration: none;
}

/* Partie footer */

.FooterWrapper
{
    background-color: #f2f2f2;
    margin-top: 120px;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-around;
}

.FooterContenu a{
    text-decoration: none;
    color: grey;
}

.FooterContenuTitre{
    padding-top: 30px;
}

.FooterListe{
    list-style: none;
    padding-left: 0;
}

.FooterListeTexte{
    font-weight: 200;
    padding: 5px;
}

    /* AFFICHAGE RESPONSIVE */

/* Écrans 20 à 22 pouces */

@media screen and (max-width: 1680px) {

    .HebergementMain{
        max-width: 1000px;
    }

    .HebergementMainOffre{
        width: 17rem;
    }
}

/* Tablettes et petits écrans */

@media screen and (max-width: 1024px) {

    #Hebergement{
        display: flex;
        flex-direction: column-reverse;
        padding-right: 3px;
    }

    .HebergementMainOffre:hover{
        box-shadow: 2px 2px 2px 2px;
    }

    .Populaires{
        display:flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .PopulairesOffre{
        width: 750px;
    }

    .PopulairesOffre:hover{
        box-shadow: 2px 2px 2px 2px;
    }

    .ActivitésWrapper{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .ActivitésColonne1{
        display:flex;
        width: 730px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ActivitésColonne2{
        display:flex;
        width: 730px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .ActivitésVieuxport{
        height: 150px;
        width: 700px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 50px;
    }

    .ActivitésPomegues{
        height: 150px;
        width: 350px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 50px;
    }

    .ActivitésFrioul{
        height: 150px;
        width: 350px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 50px;
    }

    .ActivitésCalanques{
        height: 150px;
        width: 700px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 50px;   
    }

    .ActivitésNotreDame{
        height: 150px;
        width: 350px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 50px;
    }

    .ActivitésLongchamp{
        height: 150px;
        width: 350px;
        margin: 10px 10px 10px 10px;
        padding-bottom: 50px;
    }

    .ActivitésOffreTitre{
        text-align: center;
        font-size: 1.07em;
    }
}

/* Petites tablettes */

@media screen and (max-width: 800px) {

    #navigation{
        margin-right: 4rem;
    }

    .navitems{
        padding-right: 1rem;
    }

    .filtre{
        margin-right: 4px;
    }

    .Populaires{
        max-height: 700px;
    }

    .PopulairesOffre{
        width: 75vw;
        height: 140px;
    }

    .ActivitésColonne1{
        width: 530px;
    }

    .ActivitésColonne2{
        width: 530px;
    }

    .ActivitésPomegues{
        width: 250px;
    }

    .ActivitésFrioul{
        width: 250px;
    }

    .ActivitésVieuxport{
        width: 500px;
    }

    .ActivitésCalanques{
        width: 500px;
    }

    .ActivitésNotreDame{
        width: 250px;
    }

    .ActivitésLongchamp{
        width: 250px;
    }

    .ActivitésCadre{
        padding-bottom: 55px;
    }

}

/* Écrans mobiles/smartphones */

@media screen and (max-width: 600px) {

    body{
        margin:0;
    }

    .header{
        display:block;
        height: 8rem;
        margin-bottom: 2rem;
    }

    #navigation{
        display:flex;
        justify-content: center;
        width:100%;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
        font-size: 1.1em;
    }

    #navsignin{
        position: absolute;
        top: 5px;
        right: 30px;
        font-weight: 800;
        font-size: 1em;
    }

    #logo{
        padding: 1.4rem 2rem 0rem 2.2rem;
        margin: 0;
        grid-area: Logo;
    }

    .navitems{
        padding-right: 11vw;
        padding-left: 11vw;
        padding-bottom: 10px;
        font-size: 1em;
        border-bottom: 3px solid lightgrey;
    }

    .navitems:first-child{
        color:#0065fc;
        border-bottom: 3px solid #0065fc;
    }

    .navitems:hover{
        border-top:none;
        border-bottom: 3px solid #0060fc;
        color: #0060fc;
    }

    #recherche_et_filtres{
        margin-bottom: 10px;
        padding: 0px 25px 0px 25px;
        font-size: 1.25em;
    }

    #Titre_recherche{
        font-size: 1.1em;
    }

    #Titre_recherche_note{
        font-size: 0.8em;
    }

    i.fas.fa-map-marker-alt{
        font-size:15px;
        padding: 14px;
    }

    #barre_de_recherche input{
        padding-left: 5px;
        padding-top: 14px;
        padding-right: 5px;
        padding-bottom: 14px;
        font-size: 13px;
        font-weight: 900;
        width: 55vw;
    }

    #barre_de_recherche button{
        display:none;
    }

    i.fas.fa-search{
        display: inline-block;
        background-color:#0065fc;
        color:white;
        border-radius: 9px;
        padding: 15px;
        font-size: 15px;
    }

    #filtres{
        margin-top: 5px;
    }

    #Titre_filtres{
        margin-right: 20rem;
        font-size: 1em;
    }

    .filtre{
        padding-bottom: 5px;
        padding-top: 5px;
        margin-right: 15px;
    }

    .Texte_filtre{
        font-size: 0.7em;
        font-weight: 800;
        margin-right: 8px;
        margin-left: 6px;
        padding-right: 6px;
    }

    .Info{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .infotexte{
        font-size: 0.85em;
    }

    .Conteneur_icone{
        height: 50px;
        width: 50px;
    }

    #Hebergement{
        max-height: 2200px;
        margin: 0;
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .HebergementMain{
        background-color: white;
        max-height: 1400px;
        padding: 0;
    }

    .Populaires{
        width: 100%;
        border-radius: 0rem 0rem 0rem 0rem;
        margin: 0;
        padding: 0;
    }

    .PopulairesOffre{
        border-radius: 1rem 1.5rem 1.5rem 1rem;
        margin-top: 4px;
        width: 85vw;
    }

    .PopulairesImg{
        border-radius: 1rem 0rem 0rem 1rem;
        width: 8rem;
        height: 8.8rem;
    }

    .HebergementMainOffre{
        width:85vw;
    }

    .HebergementMainImg{
        height: 7rem;
    }

    .HebergementMainTitre{
        margin-left: 35px;
        margin-top: 40px;
    }

    #Afficherplus{
        margin-top: 22px;
        margin-left: 25px;
        font-size: 0.97em;
        font-weight: 700;
    }

    .ActivitésTitre{
        margin-top: 6rem;
        margin-left: 25px;
    }

    .ActivitésWrapper{
        flex-direction: column;
    }

    .ActivitésColonne1{
        flex-direction: column;
        width:auto
    }

    .ActivitésColonne2{
        flex-direction: column;
        width:auto;
    }

    .ActivitésVieuxport{
        width: 90vw;
        margin-bottom: 1rem;
        margin-right: 0;
        margin-left: 0;
    }

    .ActivitésPomegues{
        width: 90vw;
        margin-bottom: 1rem;
    }

    .ActivitésFrioul{
        width: 90vw;
        margin-bottom: 1rem;
    }

    .ActivitésCalanques{
        width: 90vw;
        margin-bottom: 1rem;
    }

    .ActivitésNotreDame{
        width: 90vw;
        margin-bottom: 1rem;
    }

    .ActivitésLongchamp{
        width:90vw;
    }

    .FooterWrapper{
        margin-top: 4rem;
        display:flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 320px) {

    .navitems{
        padding-right: 9vw;
    }

    .PopulairesOffre{
        height:auto;
    }

    .PopulairesImg{
        height:auto;
    }
}